{% extends "layout.html" %}
{% block title %}Fetch Teams{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<div class="container-fluid text-center">
    <div class="h3">Card</div>

    <div class="card mx-auto" style="width: 18rem;">
        <div class="card-header">
            <div class="row">
                {% if current_user.is_authenticated %}
                <div class="col-auto">
                    <a href="{{url_for('football.track', id=request.args.get('id'))}}"
                        class="btn btn-secondary">
                        {% if data.is_assoc %}
                        <i class="bi bi-balloon-heart-fill"></i></a>
                    {% else %}
                    <i class="bi bi-balloon-heart"></i></a>
                    {% endif %}
                </div>
                {% endif %}
                {% if current_user.is_authenticated and current_user.has_role("Admin") %}
                <div class="col-auto">
                    <a href="{{url_for('football.edit', id=request.args.get('id'))}}"
                        class="btn btn-secondary"><i
                            class="bi bi-pencil"></i></a>
                </div>
                <div class="col-auto">
                    <a href="{{url_for('football.delete', id=request.args.get('id'))}}"
                        class="btn btn-danger"><i class="bi bi-trash"></i></a>
                </div>
                {% endif %}
            </div>
        </div>



<div class="card-body">
    <div class="card-title">{{ data.name }} (Code: {{ data.code }})</div>
    <div class="card-text">Country: {{ data.country }}</div>
    <div class="card-text">Founded: {{ data.founded }}</div>
    <div class="card-text">National: {{ "Yes" if data.national else "No" }}</div>

    <div class="card-text">
        {% if data.logo_url %}
            <img src="{{ data.logo_url }}" alt="{{ data.name }} Logo" class="img-fluid">
        {% else %}
            Logo: N/A
        {% endif %}
    </div>
</div>
<div class="card-footer text-muted">
    <a href="{{ url_for('football.list') }}" class="btn btn-primary">Back to Team List</a>
</div>


    </div>

</div>
{% endblock %}