{% extends "layout.html" %}
{% block title %}Team Details{% endblock %}

{% block content %}
  <div class="container">
    <h1>Team Details</h1>
    <dl class="row">
      <dt class="col-sm-3">Name:</dt>
      <dd class="col-sm-9">{{ team.name }}</dd>

      <dt class="col-sm-3">Code:</dt>
      <dd class="col-sm-9">{{ team.code }}</dd>

      <dt class="col-sm-3">Country:</dt>
      <dd class="col-sm-9">{{ team.country }}</dd>

      <dt class="col-sm-3">Founded:</dt>
      <dd class="col-sm-9">{{ team.founded }}</dd>

      <dt class="col-sm-3">National:</dt>
      <dd class="col-sm-9">{{ "Yes" if team.national else "No" }}</dd>

      <dt class="col-sm-3">Logo URL:</dt>
      <dd class="col-sm-9">
        {% if team.logo_url %}
          <img src="{{ team.logo_url }}" alt="{{ team.name }} Logo" class="img-fluid">
        {% else %}
          N/A
        {% endif %}
      </dd>
    </dl>
    <a href="{{ url_for('football.list') }}" class="btn btn-primary">Back to Team List</a>
  </div>
{% endblock %}
